@tailwind base;
@tailwind components;
@tailwind utilities;

.kaushan {
    font-family: 'Inter', sans-serif;
    font-family: 'Kaushan Script', cursive;
}

.kanit {
    font-family: 'Kanit', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.customShadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.paragraf {
    text-indent:50px;
}

.hamburger {
    @apply w-[30px] h-[2px] my-1 block border-2 border-black;
}

.hamburger-active > span:nth-child(1) {
    @apply  rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply  -rotate-45;
}